body: {
	font-family: Ubuntu;
	
}

header {
	text-align: center;
	background-color: lightblue;
	/*margin: 20px 20px 20px 20px;*/
	padding: 20px 20px 20px 20px;
	opacity: .3;
	color: darkgreen;
}

#sample {
	margin: 0 auto;
	width: 100%;
	height: 860px;
}